<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}POWER PLUS GYM{% endblock  %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename="styles.css")}}">
</head>

<body>

    <nav class="a">
        <a href="/">
        <img src="/static/images/gym (2).png" alt="" class="img-logo" >
        </a>
        <h2>Power Plus Gym</h2>
        <ul>
            <li><a href="/">Home</a></li>   
            <li><a href="#about">About</a></li>
            <li><a href="#membership-plans">Membership Plans</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('register')}}">Register</a></li>
        </ul>
    </nav>
    {% block content %}
    
    {% endblock content %}
        <footer class="footer">
        <div class="footer-container">

            <div class="footer-section">
                <h3>Power Plus Gym</h3>
                <p>Your ultimate fitness destination.
                    We believe in Strength, Discipline & Results.</p>
                    <p>Strength doesn’t come from what you can do. It comes from overcoming the things you once thought you couldn’t. 💪</p>
                    <p> "Sweat is fat crying." 🔥</p>
            </div>

            <div class="footer-section">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#membership-plans">Membership</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#trainer">Trainers</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h4>Contact Us</h4>
                <p>📍 Lahore, Pakistan</p>
                <p>📞 +92 302 7740091</p>
                <p>✉️ sajawaljameel40091@gmail.com</p>
                    <a href="https://wa.me/923027740091" target="_blank" class="whatsapp">
                        <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" alt="WhatsApp">
                        Chat on WhatsApp
                    </a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2025 Power Plus Gym | All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>
