<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POWER PLUS GYM</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <!-- navbar section start -->
            <nav class="a">
                <img src="/static/images/Fitness (1).png" alt="">
                <ul>
                    <li ><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#membership plans">Membership Plans</a></li>
                    <li><a href="#contact us">Contact Us</a></li>
                    <li><a href="{{url_for('login')}}">Login</a></li>
                    <li><a href="{{url_for('register')}}">Register</a></li>
                </ul>
            </nav> 
<!-- naavbar section end -->

<!-- hero section start -->
    <section class="hero">
       <main class="box"></main>
       <div class="content">
        <span class="unleash">Unleash Your Potential</span>
        <span>WELCOME TO PLACE OF HOPE AND FITNESS </span>
        <span>POWER PLUS GYM</span>
        <span>DREAM IT BELIEVE IT AND ACHIEVE IT</span>
        <button class="btn">Join Now</button>
       </div>
       <!-- <input type="text" placeholder="Enter Your Email"> -->
       
    </section>
</body>
</html>