<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POWER PLUS GYM</title>
    <link rel="stylesheet" href="/static/Styles/styles.css">
</head>
<body>
    <header>
            <nav class="a">
                <div class="logo">
                 <img src="/static/images/web logo.PNG" width="100px" height="50px">
                 </div>
                <ul>
                    <li ><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href="#contact us">Contact Us</a></li>
                </ul>
            </nav>
    </header>
</body>
</html>